<header>
    Todo List
</header>
<form>
    <input type="text" class="todo-input">
    <button class="todo-button" type="submit">
        <i class="fas fa-plus-square"></i>
    </button>
</form>
<div class="todo-container">
    <ul class="todo-list">

    </ul>
</div>



<footer>
    <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/yashvardhan-verma">Yashvardhan</a> for Developer Days</p>
</footer>

